---
import RootLayout from "../layout/RootLayout.astro"

---

<RootLayout>
    <main class="container mt-6">
        <h1>404: Not Found</h1>
        <p class="mt-4">It's no one here 😞</p>
    </main>
</RootLayout>
