<section class="pb-2">
    <h2 class="bg-darker px-6 py-1 mb-2">Certificates</h2>
    <ul class="px-6 pt-2 pb-6 flex gap-3 flex-wrap font-light">
        <li>
            <a
                href="https://www.udemy.com/certificate/UC-1LL65T3S/"
                rel="noreferrer nofollow"
                target="_blank">The Web Developer Bootcamp</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/209562.en"
                rel="noreferrer nofollow"
                target="_blank">AngularJS/D3.js</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/122016.en"
                rel="noreferrer nofollow"
                target="_blank">HTML/CSS</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/72417.en"
                rel="noreferrer nofollow"
                target="_blank">Introduction to Web Design</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/132578.en"
                rel="noreferrer nofollow"
                target="_blank">JavaScript. Level 1</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/209559.en"
                rel="noreferrer nofollow"
                target="_blank">Node.js</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/47652.en"
                rel="noreferrer nofollow"
                target="_blank">Object Oriented Programming</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/42337.en"
                rel="noreferrer nofollow"
                target="_blank">Git. Easy Start</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/105081.en"
                rel="noreferrer nofollow"
                target="_blank">Introduction to Internet Marketing</a>
        </li>
        <li>
            <a
                href="https://gb.ru/certificates/122015.en"
                rel="noreferrer nofollow"
                target="_blank">Web development intensive</a>
        </li>
    </ul>
</section>
