---
---
<section class="p-8">
    <h2 class="mt-0">Experience</h2>
    <h3 class="mt-6">
        <a
            href="https://yandex.com"
            rel="noreferrer nofollow"
            target="_blank">
            Yandex
        </a>
        - Senior Frontend Web Developer
    </h3>
    <p><em>May 2021 - Jun 2022 (1 year 2 months)</em></p>
    <ul>
        <li>
            <strong class="font-semibold">Development:</strong>
            Developed responsive and user-friendly UI widgets, product components,
            and conducted comprehensive testing and debugging to ensure a smooth,
            error-free user experience across various devices and platforms.
        </li>
        <li>
            <strong class="font-semibold">Code quality:</strong>
            Conducted thorough code reviews to ensure adherence to best practices
            and maintain high code quality.
        </li>
        <li>
            <strong class="font-semibold">User interfaces:</strong>
            Worked closely with UI/UX designers and stakeholders to transform wireframes
            into visually appealing web components for various projects.
        </li>
        <li>
            <strong class="font-semibold">Teamwork:</strong>
            Worked closely with team members to divide tasks, set priorities, and
            coordinate efforts, optimizing project timelines and delivering results
            that met or exceeded client expectations.
        </li>
        <li>
            <strong class="font-semibold">Specific products:</strong>
            Contributed to the "Search Portal, Market and Commodity vertical" projects,
            focusing on interface elements for product search pages and product card
            pages.
        </li>
    </ul>

    <h3 class="mt-6">
        <a
            href="https://tatikoma.ru"
            rel="noreferrer nofollow"
            target="_blank">
            Tatikoma Systems
        </a>
        - Senior Full Stack Developer, Team Lead
    </h3>
    <p><em>Feb 2018 - Apr 2021 (3 years 3 months)</em></p>
    <ul>
        <li>
            <strong class="font-semibold">Development:</strong>
            Led and developed a various mobile app and web projects independently
            and within a team of developers.
        </li>
        <li>
            <strong class="font-semibold">Code quality:</strong>
            Implemented comprehensive code review processes to uphold industry best
            practices and ensure the consistent maintenance of high-quality code
            standards.
        </li>
        <li>
            <strong class="font-semibold">Recruiting:</strong>
            Provided technical expertise throughout the recruitment process, playing
            a key role in preparing and conducting code interviews.
        </li>
        <li>
            <strong class="font-semibold">Collaboration:</strong>
            Negotiated contracts to facilitate seamless communication and collaboration
            between the backend and frontend teams working on various applications.
        </li>
        <li>
            <strong class="font-semibold">Leadership:</strong>
            Translated customer requirements into actionable tasks for other developers
            as a Lead within the company.
        </li>
        <li>
            <strong class="font-semibold">Specific products:</strong>
            Led development and support for multiple React Native mobile apps. Created
            "Learning together" portal. Developed public services portal. Also developed
            the Company's WordPress website and contributed to other projects.
        </li>
    </ul>

    <h3 class="mt-6">Freelance - Full Stack Developer</h3>
    <p><em>... 2016 - Feb 2018 (2 years)</em></p>
    <ul>
        <li>
            <strong class="font-semibold">Development:</strong>
            Successfully completed various projects independently and collaboratively
            with teams of developers.
        </li>
        <li>
            <strong class="font-semibold">User interfaces:</strong>
            Collaborated closely with both designers and customers to understand
            their business needs, leveraging their input to develop interface layouts
            that prioritize the best user experience (UX) practices
        </li>
        <li>
            <strong class="font-semibold">Specific products:</strong>
            Payroll calculation service (Hard algorithms, generation and downloading
            of preliminary reports and payment statements), Social Network Mobile
            App (Chat, News), Mobile App for ATM Service Engineer (ATM location mapping,
            after-service reports, and malfunction photo reports)
        </li>
    </ul>
</section>

<style>
    a {
        color: rgb(49, 116, 192) !important;
    }
    em {
        color: #779;
    }
    li:before {
        content: "⭑";
        margin-right: 4px;
    }
    ul > li > ul {
        margin-left: 1.61rem;
    }
    ul > li > ul > li:before {
        content: "·";
    }
</style>
