---
---

<section class="p-8">
    <h2 class="mt-0">Experience</h2>
    <h3>
        <a
            href="https://yandex.com"
            rel="noreferrer nofollow"
            target="_blank">
            Yandex
        </a>
        - Frontend Developer
    </h3>
    <p><em>May 2021 - Jun 2022 (1 year 2 months)</em></p>
    <p class="tags">
        <span class="tag">#TypeScript</span>
        <span class="tag">#FlowJS</span>
        <span class="tag">#React</span>
        <span class="tag">#Redux</span>
        <span class="tag">#NodeJS</span>
        <span class="tag">#HTML</span>
        <span class="tag">#CSS</span>
        <span class="tag">#BEM</span>
        <span class="tag">#Linux</span>
        <span class="tag">#Git</span>
        <span class="tag">#StoryBook</span>
    </p>
    <ul>
        <li>
            As part of the "Yandex Garage" team, created a new project called
            <a
                href="https://yandex.ru/products/search?disauto=glfilter&order=dpop&text=iphone+13+256"
                rel="noreferrer nofollow"
                target="_blank">
                Commodity vertical
            </a>
            from scratch. Developed the UI and successfully launched it into production
            within four months.
        </li>
        <li>
            Developed an advertising carousel block for the
            <a
                href="https://yandex.ru/products/search?disauto=glfilter&order=dpop&text=iphone+13+256"
                rel="noreferrer nofollow"
                target="_blank">
                Commodity vertical
            </a>
            on the search portal, following best practices for code performance.
            Considered the huge audience of the portal and the carousel's prominent
            position at the beginning of the page.
        </li>
        <li>
            Implemented several UX improvement experiments in the
            <a
                href="https://market.yandex.ru"
                rel="noreferrer nofollow"
                target="_blank">
                Yandex Market
            </a>
            project, considering the high traffic volume and focusing on increasing
            sales conversion rates.
        </li>
        <li>
            Conducted code reviews and actively collaborated with developers,
            designers and stakeholders to discuss tasks, share expertise, and
            ensure high-quality code implementation.
        </li>
    </ul>

    <h3>
        <a
            href="https://tatikoma.ru"
            rel="noreferrer nofollow"
            target="_blank">
            Tatikoma Systems
        </a>
        - Full Stack Developer
    </h3>
    <p><em>Feb 2018 - Apr 2021 (3 years 3 months)</em></p>
    <p class="tags">
        <span class="tag">#TypeScript</span>
        <span class="tag">#JavaScript</span>
        <span class="tag">#React</span>
        <span class="tag">#Redux</span>
        <span class="tag">#React-Native</span>
        <span class="tag">#NodeJS</span>
        <span class="tag">#ExpressJS</span>
        <span class="tag">#HTML</span>
        <span class="tag">#CSS</span>
        <span class="tag">#Linux</span>
        <span class="tag">#Git</span>
        <span class="tag">#Docker</span>
        <span class="tag">#docker-compose</span>
        <span class="tag">#PostgreSQL</span>
    </p>

    <ul>
        <li>
            Led and developed for multiple React Native
            <a
                href="https://play.google.com/store/apps/details?id=ru.pkd.gosuslugi"
                rel="noreferrer nofollow"
                target="_blank">
                mobile applications
            </a>
            and web projects independently and within a team of developers. Designed and developed
            <a
                href="https://vmeste.stavregion.ru/"
                rel="noreferrer nofollow"
                target="_blank">
                Learning together
            </a>
            portal. Participated in development of three public services' portal.
            Also developed the Company's WordPress
            <a
                href="https://tatikoma.ru"
                rel="noreferrer nofollow"
                target="_blank">
                website
            </a>
            and contributed to other projects.
        </li>
        <li>
            Negotiated contracts to facilitate seamless communication and collaboration between the backend
            and frontend teams working on various applications.
        </li>
        <li>
            Implemented comprehensive code review processes and unit testing to uphold industry best practices
            and ensure the consistent maintenance of high-quality code standards.
        </li>
        <li>
            Translated customer requirements into actionable tasks for other developers as a
            Lead within the company.
        </li>
    </ul>

    <h3>Freelance - Full Stack Developer</h3>
    <p><em>... 2015 - Feb 2018 (more than 3 years)</em></p>

    <p class="tags">
        <span class="tag">#JavaScript</span>
        <span class="tag">#React</span>
        <span class="tag">#React-Native</span>
        <span class="tag">#Redux</span>
        <span class="tag">#NodeJS</span>
        <span class="tag">#ExpressJS</span>
        <span class="tag">#WebSocket</span>
        <span class="tag">#HTML</span>
        <span class="tag">#CSS</span>
        <span class="tag">#Linux</span>
        <span class="tag">#Git</span>
        <span class="tag">#Docker</span>
        <span class="tag">#docker-compose</span>
        <span class="tag">#PostgreSQL</span>
        <span class="tag">#MongoDB </span>
        <span class="tag">#MySQL </span>
        <span class="tag">#PHP </span>
        <span class="tag">#WordPress</span>
    </p>

    <ul>
        <li>
            Successfully completed various projects independently and collaboratively with teams of
            developers. Internal Payroll calculation service app (Hard algorithms, generation and
            downloading of preliminary reports and payment statements), Social Network
            <a
                href="https://play.google.com/store/apps/details?id=ru.privetsosed.app"
                rel="noreferrer nofollow"
                target="_blank">
                Mobile App
            </a>
            (Chat, News), Mobile App for ATM Service Engineer (ATM location mapping, after-service
            reports and malfunction photo reports), Cow hoof disease collection system (Accessible
            UI in hard circumstances), Gas fields construction process monitoring system (UI for
            displaying a large number of diverse media content)
        </li>
        <li>
            Collaborated closely with designers and customers to understand their business
            needs and leverage their input in developing user interface layouts and components.
            Prioritized the best user experience (UX) practices to ensure the highest possible
            conversion rates for call-to-action (CTA) elements
        </li>
    </ul>


</section>

<style>
    h3,
    h4 {
        margin-top: 1.5rem !important;
    }
    a {
        color: rgb(49, 116, 192) !important;
    }
    em {
        color: #779;
    }
    li:before {
        content: "⭑";
        margin-right: 4px;
    }
    .tag {
        display: inline-block;
        margin-bottom: 3px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 0 5px;
        line-height: 1.3;
        background-color: rgba(126, 153, 195, 0.21);
    }
</style>
