---
---

<article class="p-8">
    <h2 class="mt-0">Experience</h2>
    <section>
        <h3 class="mt-6">Sunflower LTD - Senior Full Stack Developer</h3>
        <p><em>Jun 2023 - current time</em></p>
        <ul>
            <li>
                Made a significant contribution to launching a project that was
                delayed by six months.
            </li>
            <li>
                Implemented numerous architectural changes to accelerate the
                release of new features by nearly a half.
            </li>
            <li>
                Developed a game recommendation system based on matching game
                parameters, increasing their attractiveness to users.
            </li>
            <li>
                Designed and developed a separate payment service for reuse in
                both web and mobile applications based on iframe / webview.
            </li>
            <li>
                Engaged in the development of key products including the main
                web project, mobile application, and an analytics system with
                BigQuery integration, demonstrating versatility and proficiency
                across diverse technological domains.
            </li>
            <li>
                Added various animations to elements to engage users and enhance
                their user experience and enjoyment.
            </li>
            <li>
                Significantly improved the similarity between the Mobile
                application and the Web version
            </li>
        </ul>
    </section>
    <section>
        <h3 class="mt-6">
            <a
                href="https://yandex.com"
                rel="noreferrer nofollow"
                target="_blank"
            >
                Yandex
            </a>
            - Senior Frontend Web Developer
        </h3>
        <p><em>May 2021 - Jun 2022 (1 year 2 months)</em></p>
        <ul>
            <li>
                Collaborating with the "Yandex Garage" team, we created a new
                project called "Commodity Vertical" from scratch. I developed
                several UI components, and we successfully launched it into
                production within four months.
            </li>
            <li>
                I have developed an advertising carousel block for the
                "Commodity Vertical" and "Yandex Market" on the search portal,
                adhering to best practices for code performance, which is
                crucial for search engine results. I've taken into account the
                large audience of the portal and the prominent position of the
                carousel at the beginning of the page.
            </li>
            <li>
                Implemented several UX improvement experiments in the "Yandex
                Market" project, considering the high traffic volume and
                focusing on increasing sales conversion rates.
            </li>
            <li>
                Additionally, I have conducted code reviews and actively
                collaborated with developers, designers, and stakeholders to
                discuss tasks, share expertise, and ensure high-quality code
                implementation.
            </li>
            <li>
                Organized two team-building events: the first involved enduro
                moto bikes, and the second featured archery bow firing.
            </li>
        </ul>
    </section>
    <section>
        <h3 class="mt-6">
            <a
                href="https://tatikoma.ru"
                rel="noreferrer nofollow"
                target="_blank"
            >
                Tatikoma Systems
            </a>
            - Senior Full Stack Developer, Team Lead
        </h3>
        <p><em>Feb 2018 - Apr 2021 (3 years 3 months)</em></p>
        <ul>
            <li>
                Led and developed multiple React-Native mobile apps and Web
                projects, both independently and within a team of developers.
                Designed and developed the "Learning together" portal.
                Participated in the development of three public services
                portals. Additionally, developed the company's WordPress and
                contributed to other projects.
            </li>
            <li>
                Negotiated contracts to facilitate seamless communication and
                collaboration between the backend and frontend teams working on
                various applications.
            </li>
            <li>
                Implemented comprehensive code review processes and unit testing
                to uphold industry best practices and ensure the consistent
                maintenance of high-quality code standards.
            </li>
            <li>
                Translated customer requirements into actionable tasks for other
                developers as a Lead within the company.
            </li>
            <li>
                Grew from being a regular solo developer to becoming a frontend
                team leader.
            </li>
        </ul>
    </section>
    <section>
        <h3 class="mt-6">Freelance - Full Stack Developer</h3>
        <p><em>... 2016 - Feb 2018 (2 years)</em></p>
        <ul>
            <li>
                Successfully completed various projects independently and
                collaboratively with teams of developers.
                <ul>
                    <li>
                        Internal Payroll calculation service app (Involving
                        complicated algorithms, generation, and downloading of
                        preliminary reports and payment statements)
                    </li>
                    <li>
                        Social Network Mobile App (Incorporating features such
                        as chat and news)
                    </li>
                    <li>
                        ATM Service Engineer Mobile App (Including ATM location
                        mapping, after-service reports, and malfunction photo
                        reports)
                    </li>
                    <li>
                        Cow hoof disease collection system (Providing an
                        accessible UI in challenging circumstances)
                    </li>
                    <li>
                        Gas fields construction process monitoring system
                        (Designing a UI for displaying a large variety of media
                        content)
                    </li>
                </ul>
            </li>
            <li>
                Collaborated closely with designers and customers to understand
                their business needs and leverage their input in developing user
                interface layouts and components. Prioritized the best user
                experience (UX) practices to ensure the highest possible
                conversion rates for call-to-action (CTA) elements.
            </li>
        </ul>
    </section>
</article>

<style>
    a {
        color: rgb(49, 116, 192) !important;
    }
    em {
        color: #779;
    }
    li:before {
        content: "⭑";
        margin-right: 4px;
    }
    ul > li > ul {
        margin-left: 1.61rem;
    }
    ul > li > ul > li:before {
        content: "·";
    }
</style>
