<section class="pb-2">
    <h2 class="bg-darker px-6 py-1 mb-2">Languages</h2>
    <dl class="px-6 pt-2">
        <dt>Russian:</dt>
        <dd class="font-light mb-2">Native</dd>
        <dt>English:</dt>
        <dd class="font-light mb-2">High level</dd>
        <dt>Hebrew: </dt>
        <dd class="font-light mb-2">Beginner</dd>
    </dl>
</section>

<style>
    dt {
        @apply font-semibold;
    }
</style>
