<section class="pb-2">
    <h2 class="bg-darker px-6 py-1 mb-2">Skills</h2>
    <ul class="px-6 py-2 flex flex-wrap font-light">
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>Flow.js</li>
        <li>React</li>
        <li>React Native</li>
        <li>Redux</li>
        <li>MobX</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>REST</li>
        <li>API</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>Bootstrap</li>
        <li>Material UI</li>
        <li>Linux</li>
        <li>Git</li>
        <li>Docker</li>
        <li>SQL</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
        <li>Go</li>
    </ul>
</section>

<style>
    li:after {
        content: "·";
        margin: 0 0.5rem;
    }
    li:last-child:after {
        content: "";
    }
</style>
