<section class="p-8 pb-0">
    <h2 class="mt-0 pt-0">Summary</h2>
    <p>
        I am a <strong class="font-semibold">frontend developer</strong> with over
        <strong class="font-semibold">7 years of experience</strong> with a strong
        background in back-end technologies. My successful track record includes
        responsive and user-friendly UI development and leading
        <strong class="font-semibold">mobile app and web projects.</strong>
        I have assisted in comprehensive code reviews to ensure
        <strong class="font-semibold">high-quality code</strong>
        standards. Working alongside UI/UX designers, I am able to translate
        customer requirements into actionable tasks for other team members. My
        goal is to contribute my skills and expertise to a highly collaborative
        development team.
    </p>
</section>
