<article class="p-8 pb-0">
    <h2 class="mt-0 pt-0">Summary</h2>
    <p class="mt-6">
        I'm a <strong class="font-semibold">Full Stack Developer</strong> with over
        <strong class="font-semibold">7 years</strong> of experience. I have developed
        several cross-platform mobile applications using
        <strong class="font-semibold">React Native</strong>, as well as multiple
        Full Stack web applications using
        <strong class="font-semibold">React</strong>
        and <strong class="font-semibold">Node.js</strong>.
    </p>
    <p class="mt-6">
        While I am capable of building full-stack applications, my true passion
        lies in the <strong class="font-semibold">frontend</strong> part of development.
        I find working with graphical interfaces very satisfying, particularly in
        making them more user-friendly. To that end, I have completed several courses
        in
        <strong class="font-semibold">UX</strong> and continue to expand my knowledge
        in this field.
    </p>
</article>
