---
---
<section class="p-8 pb-0">
    <h2 class="mt-0">Technologies</h2>
    <ul class="mt-6">
        <li class="tag">#TypeScript</li>
        <li class="tag">#FlowJS</li>
        <li class="tag">#React</li>
        <li class="tag">#Redux</li>
        <li class="tag">#NodeJS</li>
        <li class="tag">#HTML</li>
        <li class="tag">#CSS</li>
        <li class="tag">#BEM</li>
        <li class="tag">#Linux</li>
        <li class="tag">#Git</li>
        <li class="tag">#StoryBook</li>
    </ul>
</section>

<style>
    .tag {
        display: inline-block;
        margin-bottom: 3px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 0 5px;
        line-height: 1.3;
        background-color: rgba(126, 153, 195, 0.21);
    }
</style>
